.card{
    background: url(./images/lighttexture.jpg);
    color: black;
    padding: 1rem;
    display: grid;
    grid-template-rows: 70px 50px 50px;
    grid-template-columns: 100px 100px 100px 100px 100px;
}

.card h3{
    margin-top: 2rem;
    grid-column: 2 / 5
}

.kategori {
    font-size: 0.85rem;
    opacity: 0.6;
    margin: 7rem;
}
.price{
    grid-column: 5 / 6;
    font-weight: 400;
}

.ing{
grid-row: 2;
grid-column: -5 / -2;
font-weight: 400;
}