.card {
  background-color: rgba(44, 20, 44, 0.707);
  padding: 1.2rem;
  margin: 1em;
  border-radius: 10px;
  border: 1px solid #C1C2A4;
  box-shadow: 0 1px 4px #C1C2A4;
  display: grid;
  grid-template-rows: 70px 50px 50px;
  grid-template-columns: 100px 100px 100px 100px 100px;
  color: #ebedc3;
  
}

.card h3 {
  margin-top: 2rem;
  grid-column: 2 / 5;
  font-weight: 800;
  font-size: 1.7rem;
}

.kategori {
  opacity: 0.6;
  margin: 7rem;
}

.price {
  grid-column: 5 / 6;
  font-weight: 400;
}

.ing {
  grid-row: 2;
  grid-column: -5 / -2;
  font-family: CrimsonItalic;
  font-weight: 100;
  font-size: 1.05rem;
}