#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.menu-container{
  background: url(./Components/images/menu-background.png);
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #C1C2A4
  
}

.section-title {
  display: inline-block;  
  padding-top: 1rem;
  text-align: center;
}

.category{
  margin-top: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.menu-divider{
  display:block;
  margin: 10px auto;
  width: 170px;

}